
body{background-color: aquamarine;}


#foto{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;}

.quote{
    margin-top: 3%;
    text-align: center;}

.quote q{font-style: italic;}

.rubrik{
    color: cornflowerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.paragr{
    max-width: 70%;
    line-height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.link{
    background-color: lightpink;
    color: mediumblue;}

.link:hover{
    background-color: aquamarine;
    color: orange;}

.link.intern{
    margin-left: 20px;
    margin-right: 20px;}

.header{margin-top: 100px;}

.kont label,input{display: block;}

.kont label{margin-top: 0.5em;}

.kont button{
    display: block;
    margin-top: 0.5em;}

.inspo ul,li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;}